name: Release

on:
  push:
    tags:
      - 'v*.*.*'

jobs:
  npm-publish:
    name: Publish to npm
    runs-on: ubuntu-latest
    environment: Main
    permissions:
      contents: read
      id-token: write   # для npm provenance
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: 22
          registry-url: 'https://registry.npmjs.org'
          cache: 'npm'

      - name: Install
        run: npm ci

      - name: Lint
        run: npm run lint

      - name: Typecheck
        run: npm run typecheck

      - name: Test
        run: npm run test

      - name: Build (tsdown)
        run: npm run build

      - name: Publish
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
        run: npm publish --access public --provenance

  gh-release:
    name: GitHub Release
    runs-on: ubuntu-latest
    needs:
      - npm-publish
    steps:
      - uses: actions/checkout@v4

      - name: Create GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          generate_release_notes: true
